html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent
}
h1 {
    font-size: 11 px;
    line-height: 24 px;
    margin: 0;
    padding: 0
}
h2, .h2 {
    line-height: 1.8 rem
}
li {
    list-style: none;
    margin: 0;
    padding: 0
}
#header {
    margin: 0 auto;
    min-width: 980px;
    position: relative;
    height: 143px;
    background: #fff;
    box-shadow: 3px;
    box-shadow: 0 0 5px#DDD;
    font-size: 12px;
}
#content {
    margin: 0 auto;position: relative;width: 980px
}

#header .head-top {
    height: 30px;
    line-height: 30px;
    background: url(images/bg-header.gif) repeat-x scroll left top transparent;        
    width: 980px;
    margin: 0 auto;
    padding: 0 5px
}
#header .txt-headtop {
    font-weight: bold;
    padding-left: 5px
}
#header .refresh-headtop {
    float: left;
    position: relative;
    width: 240px
}
#header .price-headtop {
    float: left;
    position: relative;
    width: 225px
}
#header .ship-headtop {
    float: left;
    position: relative;
    width: 250px
}
#header .hotline-headtop {
    float: right;
    position: relative
}
#header .head-top img {
    vertical-align: middle
}
#header .head-main {
    height: 83px
}
#header.logo-headmain {
    float: left;
    width: 225px;
    height: 49px;
    margin-top: 15px
}
#header .head-nav {
    height: 40px;
    margin-top: 30px;
    background: #0d136a
}
#header .head-right {
    padding-top: 20px
}
.l-pageWrapper {
    _text-align: left;
    margin: 0 auto;
    position: relative;
    width: 980px
}
.l-main {
    _margin-right: -3px;
    float: left;
    padding-left: 20px;
    margin-top: 5px;
    width: 740px
}
.l-sidebar {
    _margin-left: -3px;
    float: left;
    margin-left: 0;
    margin-right: 10px;
    width: 210px
}
#header .head-main {
    height: 83px
}
#header .logo-headmain {
    float: left;
    width: 225px;
    height: 49px;
    margin-top: 15px
}
.search-headmain {
    float: left;
    padding-top: 25px;
    padding-left: 40px;
    width: 340px
}
.search-headmain .search-box {
    height: 29px;
    width: 250px;
    line-height: 25px;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-right: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    padding: 4px;
    transition: border .2s linear 0s,box-shadow .2s linear 0s;


}
div .nav {
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    width: 100%;
    position: relative;
    z-index: 9999
}
ul.nav li.home {
    width: 56px
}
ul.nav li {
    display: inline;
    float: left;
    margin: 0 auto;
    line-height: 40px;
    text-transform: uppercase;
    height: 45px
}
ul.nav li a {
    display: block;
    font-size: 14px;
    text-decoration: none;
    color: #FFF;
    padding: 0 10px;
    background: url(images/bg-header.gif) no-repeat left center;
    font-family: 'Verdana'
}
ul.nav li a:hover,
ul.nav li.current a:hover,
ul.nav li.current a {
    background: #fa4904;
    text-decoration: none;
    padding: 0 10px
}
ul.nav li.home a {
    background: url(../../themes/shoppro/images/menu_home.html) no-repeat center center
}
ul.nav li div.subnav {
    position: absolute;
    background-color: #FFF;
    border: 1px solid #D6D3CC;
    box-shadow: 0 1px 3px #D6D3CC;
    height: auto;
    top: 102%;
    margin: 0 auto;
    width: 400px;
    z-index: 999;
    visibility: hidden
}
ul.nav li div.subnav .subcat {
    margin: 10px;
    border-right: 1px solid #DDD;
    width: 180px
}
ul.nav li div.subnav .subcat a {
    color: #333;
    padding: 2px 10px 0 30px;
    text-decoration: none;
    font-size: 12px;
    text-transform: none;
    background: url(../../themes/shoppro/images/cm_icon.html) no-repeat scroll 10px -720px transparent
}
ul.nav li div.subnav .subcat a:first-letter {
    color: #F99D1C;
    font-size: 14px
}
ul.nav li div.subnav .subcat a:hover,
ul.nav li div.subnav .subcat a.current {
    color: #060;
    background: url(../../themes/shoppro/images/cm_icon.html) no-repeat scroll 10px -848px transparent
}
ul.nav ul ul {
    top: 0
}
ul.nav li:hover>div.subnav {
    visibility: visible;
    position: absolute;
    top: 102%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px
}
ul.nav li:hover > div.subnav a:hover {
    border: none
}
ul.menu_left {
    background: none repeat scroll 0 0 #f8f8f8;
    font-family: Tahoma;
    list-style: none outside none;
    position: relative;
    width: 230px;
    z-index: 9000
}
ul.menu_left h2 {
    color: #fff;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-right: 3px
}
ul.menu_left h3 {
    color: #fff;
    float: left;
    font-size: 12px;
    font-weight: normal;
    margin-right: 3px
}
ul.menu_left li ul li {
    border-bottom: 1px solid #e9e9e9;
    border-top: 1px solid #fcfcfc !important;
    color: #555;
    cursor: pointer;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 230px;
    z-index: 9000
}
ul.menu_left li ul li:hover {
    background-color: #fff !important;
    border-color: #f1f1f1 !important;
    border-style: solid !important;
    border-width: 1px !important;
    padding: 0 !important;
    width: 228px !important;
    z-index: 9000
}
ul.menu_left li a.cate {
    background-color: #0d136a;
    display: block;
    height: 36px;
    padding: 12px 0 12px 40px;
    text-align: left;
    text-decoration: none
}

ul.menu_left li:hover a.cate {
    padding: 12px 0 12px 40px
}
ul.menu_left li ul li.sub {
    background: url(images/bg-header.gif) no-repeat scroll 10px 16px transparent
}
ul.menu_left li ul li.sub:hover {
    background: url(images/bg-header.gif) no-repeat scroll 10px 16px transparent
}
ul.menu_left li ul li a.subcate {
    color: #555;
    display: block;
    height: 36px;
    padding: 12px 0 10px 40px;
    text-decoration: none;
    width: 190px
}
ul.menu_left li ul li a.subcate h2 {
    color: #555;
    float: left;
    font-size: 12px;
    font-weight: normal
}
ul.menu_left li ul li a.subcate h3 {
    color: #555;
    float: left;
    font-size: 12px;
    font-weight: normal
}
ul.menu_left li ul li:hover a.subcate {
    padding: 12px 0 10px 40px
}
#products {
    position:relative
}
#products .items {
    display:inline-block;
    float:left;
    margin-bottom:5px;
    position:relative
}
#products .items .items_content {
    margin:5px;
    text-align:left
}
#products .items .items_content .content_top {
    height:270px;
    text-align:center;
    padding-right:2px;
    border:1px solid #DEDEDE;
    border-radius:7px;
    box-shadow:0 0 4px #DEDEDE
}
#products .items .items_content .content_top img {
    margin:5px;
    overflow:hidden;
    height:180px;
    width:165px
}
#products .items .items_content .content_price {
    height:20px;
    margin-left:5px
}
#products .items .items_content .content_title {
    margin-left:5px;
    color:#232323;
    display:block;
    font-size:13px;
    line-height:20px
}
.product_center ul.pagination li,
.user-info .box .field .name img,
.lfloat,
.fl {
    float: left
}
.productTeaserBox {
    margin-bottom:10px
}
.productTeaserBox .header {
    padding-bottom:5px;
    width:99%;
    position:relative;
    margin:0 auto
}
.productTeaserBox .header .lfloat,
.productTeaserBox .header .lfloat a {
    font-size:16px !important
}
.productTeaserBox .header .ui-borderBottom {
    border-bottom:2px solid #333 !important
}
.productTeaserBox .header h1.lfloat {
    line-height:20px;
    padding:13px 0 0;
    text-transform:uppercase
}
.productTeaserBox .header h1.lfloat a {
    color:#bf0000;
    border-bottom:2px solid #bf0000;
    padding-bottom:2px;
    font-size:14px
}
.productTeaserBox .header h1.rfloat {
    background: url(images/readmore.gif) no-repeat scroll 0 15px;
    float:right;
    font-style:normal;
    line-height:18px;
    padding:10px 0 7px 15px
}
.productTeaserBox .header h3.lfloat {
    line-height:20px;
    padding:13px 0 0;
    text-transform:uppercase
}
.productTeaserBox .header h3.lfloat a {
    color:#bf0000;
    border-bottom:2px solid #bf0000;
    padding-bottom:2px;
    font-size:14px
}
.productTeaserBox .header h3.rfloat {
    background: url(images/readmore.gif) no-repeat scroll 0 15px;
    float:right;
    font-style:normal;
    line-height:18px;
    padding:10px 0 7px 15px;
    font-size:14px
}
.tooltip .tip, #tabs-products .panes,#tabs-productss .panes{display:none}
.tip {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #000;
    height:auto;
    padding:5px;
    position:absolute;
    top:500px;
    width:auto;
    z-index:1000
}
.tip .tooltip_img{
    background:#F4F4F4;
    padding:2px;
    width:auto;
    box-shadow:0 0 10px #999
}
.detail_top_content {
    clear: both
}
#detail .prd_rate,
.product_center p {
    padding: 0
}
#detail .prd_rate div.cm_c,
.fr {
    float: right
}
#detail .others,
.content-box {
    padding: 10px
}
#detail .others .date,
.prd-attributeTitle,
.txtLight {
    color: #999
}
#detail {
    background: #fff;
    padding: 10px
}
#detail .info_product {
    margin-left: 5px;
    width: 53%
}
#detail .date_up {
    display: block;
    font-size: 12px;
    padding-top: 3px;
    padding-bottom: 10px
}
#detail .info_product p {
    margin: 0;
    padding: 2px
}
#detail h2 {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    line-height: 25px
}
#detail .detail_com {
    margin-bottom: 5px
}
#detail .zoom_img {
    background: url(../../themes/default/images/shops/zoom-img.html) no-repeat left center;
    display: inline-block;
    line-height: 26px;
    padding-left: 20px
}
#detail .prd_rate form.comment {
    background: #f7f7f7;
    border: 1px solid #dfdfdf;
    margin-bottom: 10px;
    padding: 10px
}
#detail .prd_rate form.comment span {
    display: block;
    margin-bottom: 10px
}
#detail .prd_rate form.comment textarea {
    border: 1px solid #dfdfdf;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 80px;
    margin-bottom: 10px;
    padding: 4px;
    width: 658px
}
#detail .prd_rate form.comment img {
    margin-left: 10px;
    vertical-align: middle
}
#detail .prd_rate div.cm_rows {
    border-bottom: 1px dashed #d7e2e6;
    margin: 0 0 10px;
    padding: 0 0 10px
}
#detail .prd_rate div.avata {
    float: left;
    text-align: center;
    width: 54px
}
#detail .prd_rate div.avata img {
    border: 1px solid #d7e2e6;
    padding: 1px
}
#detail .prd_rate div.cm_c {
    float: right
}
#detail .others {
    padding: 10px
}
#detail .others ul li {
    background: url(http://thoitrangchuyensi.com/themes/default/images/shops/square.jpg) no-repeat 0 5px;
    padding-left: 8px
}
#detail .others .date {
    color: #999
}
#detail .others h1 {
    border-bottom: #CCC 1px solid;
    margin-bottom: 5px
}
#detail .div_rate a {
    background: url(../../themes/default/images/shops/star.png) no-repeat right center;
    margin-right: 5px;
    padding-right: 18px
}
div.TabViews {
    margin-top: 50px
}
div.TabViews div.Tabs {
    border-bottom: 1px solid #DDD;
    height: 31px;
    list-style: none outside none;
    margin-bottom: 10px;
    padding: 0
}
div.TabViews div.Tabs a {
    float: left;
    margin-left: 15px;
    margin-right: -10px;
    position: relative
}
div.TabViews div.Tabs a.Active {
    border-top: 2px solid #FCA01B;
    margin-bottom: -1px;
    margin-left: 15px
}
div.TabViews div.Tabs a span {
    background: #F2F2F2;
    color: #039;
    cursor: pointer;
    float: left;
    font: bold 12px/31px Arial;
    height: 31px;
    padding: 0 10px
}
div.TabViews div.Tabs a:hover span {
    background: url(../../themes/default/images/product/bg.html) repeat-x scroll 0 -250px transparent
}
div.TabViews div.Tabs a.Active span {
    background: none repeat scroll 0 0 #FFF;
    border-color: #DDD;
    border-style: solid;
    border-width: 0 1px;
    color: #000;
    cursor: default;
    display: block;
    font: bold 16px/28px Arial;
    height: 30px;
    padding: 0 15px
}
div.TabViews div.Pages {
    background: none repeat scroll 0 0 #FFF;
    clear: both;
    height: auto;
    line-height: 1.5em;
    overflow: hidden;
    width: auto
}
div.TabViews div.Pages div.Page {
    border-top: 0 none;
    height: auto;
    overflow: hidden;
    padding: 5px;
    width: auto
}
.price_order {
    padding: 10px;
    border-top: 1px solid #fac6aa;
    border-bottom: 1px solid #fac6aa;
    box-shadow: 0 0 2px #fac6aa;
    font-weight: bold
}
.price_order .detail_price {
    padding-bottom: 5px;
    color: red;
    font-size: 14px
}
.price_order .detail_order {
    display: inline-block;
    line-height: 41px
}
.price_order .pnum {
    color: #666;
    font-weight: bold
}
a.pro_order {
    background: url(images/add-cart.html) no-repeat scroll 0 0 transparent;
    display: block;
    height: 37px;
    width: 134px;
    margin-left: 10px;
    margin-top: 5px
}